<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <h2>Expresiones de Jinga 2</h2>
    <h3>Interpolacion</h3>
    <p>Bienvenidos {{nombre}} {{apellido}} tu color favorito es el  {{color}}
    </p>
    <h3>Expresiones Matematicas</h3>
    <p>
        La base del triangulo es de {{base}} metros y la altura es de {{altura}} metros
    </p>

    <p>
        El area del triangulo es de {{base * altura/2}} metros cuadrados
    </p>

    <h3>Concatencacion de Strings</h3>
    <p>
        Bienvenido {{nombre+" "+apellido}}
    </p>
</body>
</html>